<%- include('../../shared/includes/head', {title: 'Your Cart' }) %>
    <link rel="stylesheet" href="/styles/cart.css">
    <script src="/scripts/cart-item-management.js" defer></script>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>Your cart</h1>
                <ul id="cart-items">
                    <% cart.items.forEach(item=> { %>
                        <li>
                            <%- include('includes/cart-item', {item}) %>
                        </li>
                        <% }) %>
                </ul>
                <div id="cart-total">
                    <p>Total: NGN<span id="cart-total-price">
                            <%= Number(cart.totalPrice.toFixed(2)) %>
                        </span>
                    </p>
                    <% if(cart.totalQuantity> 0) { %>
                        <form action="/orders/pay" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn">Buy Products</button>
                        </form>
                        <% } %>
                </div>
            </main>
            <%- include('../../shared/includes/footer') %>
    </body>

    </html>